# -----------------------------
# -- POSTGRES / POSTGIS CONFIG --
# -----------------------------
# Credentials for the PostgreSQL database.
# n8n will use this for its own internal data, and you can use it for your app's data.
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=postgres
POSTGRES_DB_CHAT=chat
POSTGRES_DB_GEO=geo
 
# The port to expose Postgres on your local machine (host)
POSTGRES_PORT_HOST=1234
 
 
GEMINI_API_KEY=<your-gemini-api-key-here>
ANTHROPIC_API_KEY=<your-anthropic-api-key-here>
N8N_ENCRYPTION_KEY=PASSWORD1
RAGFLOW_API_KEY=ragflow-<your-api-key-here>
 
# -----------------------------
# -- GENERAL N8N CONFIG --
# -----------------------------
# Set your timezone to ensure correct scheduling
TZ=America/New_York